In [ ]:
a,b,c = "good", "morning",18
print(a,b,c)

good morning 18

In [ ]:
x= y = z =1001
print(x,y,z)

1001 1001 1001

In [ ]:
A = B, C= "College" , 25
print(B, C, A)

College 25 ('College', 25)

In [ ]:
A =10
B =20
print("Addition of",A,"and",B,"is =",A+B )

Addition of 10 and 20 is = 30

In [ ]:
A=10
print(type(A))

<class 'int'>

In [ ]:
X = 35
print(type(x))

<class 'int'>

In [ ]:
college = -100
print(type (college))

<class 'int'>

In [ ]:
value = 0
print(type(value))

<class 'int'>

In [ ]:
system = +200
print(type(system))

<class 'int'>

In [ ]:
 value = 3.33
 print(type(value))

<class 'float'>

In [ ]:
name =-100.33
print(type(name))

<class 'float'>

In [ ]:
name = 100/7
print(type(name))

<class 'float'>

In [ ]:
yes = True
print(type(yes))

<class 'bool'>

In [ ]:
yes = "False"
print(type(yes))

<class 'str'>

In [ ]:
value = 27.12
print(type(value))

<class 'float'>

In [ ]:
section = '''c'''
print(type(section))

<class 'str'>

In [ ]:
programe = """ programe"""
print(type(programe))

<class 'str'>

In [ ]:
String = "python programming language"

print(String)

python programming language

In [ ]:
first = "BK\n"
second = "college\n"
print(first+second*5)

BK
college
college
college
college
college

In [ ]:
Number = 78*3
print(type(Number))

<class 'int'>

In [ ]:
first = "BK"
SECOND = "college"
print(((first +" "+second)+"\n")*5)

BK college

BK college

BK college

BK college

BK college

In [ ]:
name = "python programming languages"
print(name[5])
print(name[-2])
print(name[18])
print(name[3:14])
print(name[:20])
print(name[6:])
print(name[:-1])
print(name[-22:-4])
print(name[::1])
print(name[::2])
print(name[::-1])
print(name[::-3])
print(name[::-4])

n
e

hon program
python programming l
 programming languages
python programming language
 programming langu
python programming languages
pto rgamn agae
segaugnal gnimmargorp nohtyp
san iao hp
sulirph

In [ ]:
 Details ='''multi line comments
hi, Good Morning
'''
print(Details)

multi line comments
hi, Good Morning

In [ ]:
list1 = [101]
print(list1)
print(type(list1))
list1. append("shrushti")
print(list1)

[101]
<class 'list'>
[101, 'shrushti']

In [ ]:
details = [101]
print(details) #101
print(type(details))#list