In [ ]:
0i = input("enter the value :i")
j = input("enter the value :j")
print(i +" " +j)

enter the value :iBK
enter the value :jcollege
BK college

In [ ]:
x = 100
y = 50
print(f'Addition of {x} and {y} value is = {x+y}')
print(f'Division of {x} and {y} value is = {x/y}')

Addition of 100 and 50 value is = 150
Division of 100 and 50 value is = 2.0

In [ ]:
name = "shrushti"
course = "MCA"
year = 2022
Department = "BCA"
pincode = 592216
print(f"Hi,Good morning My name is {name}, i have complited {course} in the {year}, corrently i'm wirking in KLE BK {Department}, college Chikkodi {pincode}")

Hi,Good morning My name is shrushti, i have complited MCA in the 2022, corrently i'm wirking in KLE BK BCA, college Chikkodi 592216

In [ ]:
x = 100
y = 50
print(f'addition of{x} and {y} value is = {x+y}')
print(f'substraction of{x} and {y} value is = {x-y}')
print(f'multiplication of{x} and {y} value is = {x*y}')
print(f'division of{x} and {y} value is = {x/y}')

addition of100 and 50 value is = 150
substraction of100 and 50 value is = 50
multiplication of100 and 50 value is = 5000
division of100 and 50 value is = 2.0

In [ ]:
Num1 = int(input("enter the value :"))
Num2 = int(input("enter the value :"))
print("Addision of two number is :" ,Num1 + Num2)
print()
print("substraction of two number is : " ,Num1 - Num2)
print()
print("Multiplication of two number is :" ,Num1 * Num2 )
print()
print("division of two number is :" ,Num1 / Num2)
print()
print("Floor Division of two is :" ,Num1 // Num2)
print()
print("Modulus of two numbers is : " ,Num1 % Num2)

enter the value :10
enter the value :5
Addision of two number is : 15

substraction of two number is :  5

Multiplication of two number is : 50

division of two number is : 2.0

Floor Division of two is : 2

Modulus of two numbers is :  0

In [ ]:
number1 = 35
number2 = 40
print(number1>number2)
print(number1<number2)
print(35==number2)
print(number1!=number2)
print(number1>=40)
print(number1<=number2)

False
True
False
True
False
True

In [ ]:
 a = 20
b = 35
c = 13
d = 10
print( a == b and c < d)
print( 13 != c and d < c)
print( b > a and d<c )
print(20 != a and c==b)
print(a<b or b==c)
print((not(a < b))and 100 < 200)
print(not(d ==10))
print(35 != d or (not(20==a)))
print(not(c<=b and (not(a<= c))))

False
False
True
False
True
False
False
True
False

In [ ]:
x = 10
print(x)
x -= 2
print(x)
x *= 5
print(x)
x //=3
print(x)
x **=2
print (x)
x %= 4
print(x)
x+=9
print(x)
x /=3
print(x)

10
8
40
13
169
1
10
3.3333333333333335

In [ ]:
Num = 9
if Num < 10 :
  print("10 is a greater than 9")

10 is a greater than 9

In [ ]:
User_id = "20MCA103"
Password = 1234
if User_id == "20MCA103" and Password == 1234:
  print("Login Successfully")

Login Successfully

In [ ]:
Ex = 59
if Ex == 58 :
  print("are you understand")

In [ ]:
Name  = "Shrushti"
if Name <= "BK" :
  print("My name is Shrushti")

In [ ]:
Num = int(input("enter a number value"))
if Num > 0 :
  print("positive number")
else :
    print("nagetive number")

enter a number value5
positive number

In [ ]:
num = int(input("enter a number value :"))
if num % 2 == 0:
  print("even number")
else :
  print("odd number")

enter a number value :45
odd number

In [ ]:
year = int(input("enter a year value :"))
if year % 4 == 0:
  print("Leap year")
else :
  print("Not Leap yesr")

enter a year value :2025
Not Leap yesr

In [ ]:
Age = int(input("enter a year value :"))
if Age >= 18:
  print("they are eligible for voting")
else :
  print("they have to wait")

enter a year value :24
they are eligible for voting

In [ ]:
User_id = "12MCA345"
Password = 121234
if User_id == "12MCA345" and Password == 121234:
  print("Login Successfully")
else :
  print("Login Failed")

Login Successfully

In [ ]:
user_id = input("enter user_id value")
password = int(input("enter password value :"))
if user_id == "college" and password ==1234 :
  print("login successfully")
else :
  print("Invalid credentials")

enter user_id valuecollege
enter password value :1234
login successfully

In [ ]:
marks =int(input("enter the marks :"))
if marks >= 85 :
  print("distinction")
elif marks >= 70 :
  print("frist class")
elif marks >=55 :
  print("second clas")
elif marks >=35 :
  print("just pass")
else :
  print("fail better luck next time")

enter the marks :88
distinction

In [ ]:
prize = input("enter the medal :")
if prize == "Gold" :
  print("first prize")
elif prize == "silver" :
  print("second prize")
elif prize == "bronze" :
  print("third prize")
elif prize == "certificatr" :
  print("samadankar bahuman")
else :
  print("better luck next chance")

enter the medal :silver
second prize

In [ ]:
signels = input("enter the signel :")
if signels == "red" :
  print("stop")
elif signels == "yellow" :
  print("ready")
elif signels == "green" :
  print("go")

enter the signel :red
stop

In [ ]:
num = int(input("enter the value"))
if num > 0 :
  if num == 0 :
    print("zero value")
  else :
    print("positive number")
else :
    print("nagetive number")

enter the value-8
nagetive number

In [ ]:
a,b,c = 25,35,15
if a >b :
  if a > c :
    print("a is greatest number")
  else :
    print("c is greatest number")
else :
  if b > c :
    print("b is greatest number")
  else :
    print("c is greatest number")

b is greatest number

In [ ]:
a,b,c = 25,35,15
if a >b :
  if a > c :
    print("a is smallest number" ,a)
  else :
    print("c is smallest number" ,c)
else :
  if b > c :
    print("b is smallest number" ,b)
  else :
    print("c is smallest number" ,c)

b is smallest number 35

In [ ]:
x, y = 10, 20
option = input("enter your choice option :")
match option :
  case '+' :
    print("sum of values" , x + y)
  case '-' :
    print("substraction of values" , x - y)
  case '*' :
    print("multiplication of values" , x * y)
  case '/' :
    print("division of values" , x / y)
  case '%' :
      print("modulus of values" , x % y)
  case '!=' :
        print("not eqale to of value",x!=y )
  case _ :
    print("invalide operator")

enter your choice option :!=
not eqale to of value True

In [ ]:
option = input("enter the day number: ")
match option:
    case '1':
        print('monday')
    case '2':
        print('tuesday')
    case '3':
        print('wednesday')
    case '4':
        print('thursday')
    case '5':
        print('friday')
    case '6':
        print('saturday')
    case '7':
        print('sunday')
    case _:
        print('holiday')

enter the day number: 5
friday

In [ ]:
option = input("enter the month number: ")
match option:
    case '1':
        print('juanaury')
    case '2':
        print('february')
    case '3':
        print('march')
    case '4':
        print('april')
    case '5':
        print('may')
    case '6':
        print('june')
    case '7':
        print('july')
    case '8':
        print('august')
    case '9' :
        print('september')
    case '10' :
        print('october')
    case '11' :
        print('november')
    case '12' :
        print('december')

enter the month number: 11
november

In [ ]:
i =1
while i <= 60 :
  print(i,end= " ")
  i +=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60

In [ ]:
i = 1
add =0
while i<=10 :
   add = add+i
   i = i+1
print("sum of  N Natural number is:" , add)

sum of  N Natural number is: 55

In [ ]:
num = 5
i = 1
while i<=10 :
    print("5 *",i,"=",num*i)
    i = i+1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
num = 18
i = 1
while i<=10 :
  print("18*",i,"=",num*i)
  i = i+1

18* 1 = 18
18* 2 = 36
18* 3 = 54
18* 4 = 72
18* 5 = 90
18* 6 = 108
18* 7 = 126
18* 8 = 144
18* 9 = 162
18* 10 = 180

In [ ]:
num = 153
rem = 0
sum = 0
temp = num
while num != 0 :
  rem = num % 10
  sum = sum + rem * rem * rem
  num = num // 10
if temp == sum :
  print("armstrong number")
else :
  print("not armstrong number")

armstrong number

In [ ]:
num = 234
rem = 0
sum = 0
temp = num
while num != 0 :
  rem = num % 10
  sum = sum + rem * rem * rem
  num = num // 10
if temp == sum :
  print("armstrong number")
else :
  print("not armstrong number")

not armstrong number

In [ ]:
num = 112
rem = 0
sum = 0
temp = num
while num != 0 :
  rem = num % 10
  sum = sum + rem * rem * rem
  num = num // 10
if temp == sum :
  print("armstrong number")
else :
  print("not armstrong number")

not armstrong number

In [ ]:
num = 12345
rem = 0
rev = 0
temp = num
while num > 0 :
  rev  = num % 10
  rev  = rev * 10 +rem
  num = num // 10
print("reverse number is:" ,rev)

reverse number is: 10

In [ ]:
num = 12321
rem = 0
rev = 0
temp = num
while num > 0 :
  rev  = num % 10
  rev  = rev * 10 +rem
  num = num // 10
  if temp == rev :
    print("palindrome number")
  else :
    print("not palindrome number")

not palindrome number
not palindrome number
not palindrome number
not palindrome number
not palindrome number

In [ ]:
 i = 1
 while i <= 100 :
  print(i, end = " ")
  i+=2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
num, a, b = 10, 0, 1
i = 0
while i <= num :
  print(a, end = " ")
  a, b = b, a+b
  i+=1

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
num = 10
while i <= 1280 :
  print(i,end=" ")
  i*=2

1 2 4 8 16 32 64 128 256 512 1024